@charset "UTF-8";

@font-face {
    font-family:"Endroit";
    src: url('fonts/endroit_book_20150319.otf');
}

html, body {
	with: 100%;
	height:100%;
	border:0px;
	margin:0px;
	padding:10px 0px 0px 0px;
	font-family:"Endroit" !important;
}

.container {
	height:50vh !important;
	margin:0;
	border:0;
	margin:0 auto;
	top:0;
}

#SVG {
	width:calc(100% - 300px);
	height:100vh;
	left:0;
}

.bSvg {
	width:300px;
	margin:auto;
}

.bSnapSvg {
	width:100%;
	height:262px;
	font-size:30px;
}

.controls {
	width:100%;
	height:200px;
	background-color:#F9B233;
	border:2px solid blue;
}

.bCurs {
	width:86px;
	height:160px !important;
	padding:10px;
	padding-right:0px;
	display:inline-block;
	border-right:1px solid white;
	margin-top:10px;
	vertical-align:top;
}

.bCurs.noborder {
	border-right:0px;
}

.curs {
	-webkit-appearance: none;
	width:73px;
	margin:0;
	padding:0;
	border:0;
	color:#009;
}
.curs:focus {
  outline: none;
}

.vertical{
  	width: 120px;
	height:15px;
	transform: translateX(45px) translateY(0px) rotate(90deg);
    transform-origin:top left; 
	position:relative;
}
.curs::-webkit-slider-runnable-track {
  width: 15px;
  height: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 0.9px #F9B233, 0px 0px 0px #F9B233;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
.curs::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color:#009;
    border: none;
    height: 15px;
    width: 15px;
}
.curs:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

.valCurs {
	width:73px;
	height:30px;
	margin-top:10px;
	background-color:white;
	display:flex;
	text-align:center;
}

.valVertical {
	margin-top: 115px;
}

.valText {
	margin-bottom:50px;
}